<div class="card">
    <div class="card-header">
      DASHBOARD
    </div>
    <div class="card-body">
      <h5 class="card-title">Upcoming Task </h5>
    </div>
  
    <ul class="list-group project-list">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">ABC Project / Fill in the TimeSheet</a>
        <span class="badge badge-app badge-pill">Ends by 20/20/2018</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">XYZ Project / Fill in the TimeSheet</a>
        <span class="badge badge-app badge-pill">Ends by 20/20/2018</span>
      </li>
      
    </ul>
  
    <div class="card-body">
      <h5 class="card-title">Completed Task </h5>
    </div>
  
    <ul class="list-group project-list">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">ABC Project / Fill in the TimeSheet</a>
        <span class="badge badge-app-completed badge-pill">Completed on 20/20/2018</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">ABC Project / Fill in the TimeSheet</a>
        <span class="badge badge-app-completed badge-pill">Ends by 20/20/2018</span>
      </li>
    </ul>
  </div>